@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&family=Quantico&family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(53, 53, 53);
}

.calculator {
    background-color: rgb(107, 107, 107);
    display: flex;
    flex-direction: column;
    width: 410px;
    padding: 25px;
    gap: 30px;
    border-radius: 20px;
}

.screen {
    background-color: rgb(73, 95, 73);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 58px;
    padding: 5px 20px;
    border-radius: 10px;
    /* font-family: 'PT Mono', monospace; */
    font-family: 'Quantico', sans-serif;
    /* font-family: 'Teko', sans-serif; */
}

.buttons-section {
    display: flex;
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    padding: 10px;
}

.numbers-section{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;

}

#clear {
    background-color: rgb(238, 174, 56);
}

button {
    border-style: none;
    font-size: 36px;
    width: 80px;
    height: 80px;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    transform: translate3d(0px, 0px, 0px);
}

button:hover {
    background-color: rgb(177, 176, 176);
}

button:active {
    transform: translate3d(0px, 2px, 0px);
}

.operations-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

.footer {
    background-color: rgb(43, 43, 43);
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    color: rgb(161, 161, 161);
}

.plus {
    flex: 1;
}